*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.logo{
    margin-bottom: 40px;
}


.container{
    max-width: 1140px;
    margin: auto;
    /* padding: 40px; */

}

.header{
    background-color: blue;
    color: white;
    height: 550px;
    border-bottom-right-radius: 90%;
    
}
.parent{
    width: 410px;
    margin-bottom: 40px;
    /* display: grid; */

    
}
.main{
    display: flex;
    margin: auto;
    position: absolute;
   

}

.btn{
    background-color:rgb(111, 189,19);
    padding: 10px;
    margin: 10px;
   

}

.phone{
    border-top:80px;
}
/*  */


.box{
    background-color: rgb(245, 249, 254);
}
.boxing{
    /* background-color: rgb(245, 249, 254); */
    display: flex;
    height: 50vh;
    align-items: center;
    gap: 3em;
    justify-content: center;
    /* flex-grow: 1; */
    /* padding: 0 40px; */
    
    

}

h2{
    text-align: center;
    margin:0;
}

.div1, .div2 ,.div3{
    width: 21em;
    height: 20em;
    /* background-color:pink; */
    box-shadow: 5px 5px 25px;
    padding: 10px 40px;
    border-radius: 10px;
        
}

.simple{
    text-align: center;
}

/*  */
*{
    /* margin: 0;
    padding: 0;    */
    box-sizing: border-box;

}

.side-byside{
    padding: 15px 9%;
    padding-bottom: 100px;
    gap: 30px;
}

.side-byside .heading{
    text-align: center;
    padding-bottom: 80px;
    margin-top: 80px;
}

.box-container{
    display:flex;
    
    /* grid-template-columns:minmax(270px,1fr);   */
    /* gap: 15px; */
}
.box1{
    margin: 1%;
    padding: 30px;
    border: 1px solid black;

}
.info:hover{
    background-color: blue;
    padding: 20px;
    margin: 1%;

}
.border{
    border: 2px solid;
}

.domain{
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/*  */

.sec{
    background-repeat: no-repeat; 
    background-image: url(../image/Background.png);
    background-size: cover;
    /* height: 100px; */
    
    
}

.details{
    
    padding: 100px;
    width: 53.33%;
    
}



.section5{
    background-color: white;
    padding: 50px;
}

.box2{
    border: 1px solid;
    width: 100%;
    box-shadow: 1px 1px 12px 4px rgba(0, 0, 0, 0.39);
    display: flex;
    margin: auto;
}

.form{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    height: 350px;
}

.sub_box{
    background-color: #1f62d4;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;


}

.row1{
    margin: 20px;
}

.cont{
    margin: 20px;
    width: 50%;
    text-align: center;
    display: inline-block;
}

.simple1{
    text-align: center;
}





.drone{
    margin-top: -8%;
    padding-left: 80%;
}





.footer{
    background-color: #e4e4e4;
    text-align: center;
}
